<!DOCTYPE html>
<html>
<head>
	<title>Word Of The Day</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" integrity="sha256-/mC8AIsSmTcTtaf8vgnfbZXZLYhJCd0b9If/M0Y5nDw=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="icon clone outline"></i></i>Word Of The Day</div>
            <a href="/" class="item">Home</a>
            <a href="/index" class="item">All Words</a>
        </div>
    </div>
    