<% include ./partials/header %>

<h1>Hello index page</h1>
<% words.forEach(function(word){%>
<div>
    <h2><%= word.title %></h2>
    <span><%= word.created %></span>
    <p><%= word.meaning.substring(0,100) %>...</p>
    <a href="/words/<%= word._id %>">Read More</a>
</div>
<% }); %>
<% include ./partials/footer %>