<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Word</div>
    <form class ="ui form" action="/words" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="word[title]" placeholder = "title">
        </div>
         <div class="field">
            <label>Meaning</label>
            <textarea name="word[meaning]" placeholder = "meaning of the above word"></textarea>
        </div>
        <input class="ui grey basic button" type="submit">
    </form>
</div>
<% include ./partials/footer %>
